/*
    Variables
*/

:root {
    --border-radius: .3rem;
    --main-border: 1px solid rgba(0, 0, 0, .125);
    --pokeCard-bg-color: #bfd0f2;
}


/*
    UTILITY CLASSES
*/

.showMe {
    display: block;
}

.hideMe {
    display: none !important;
}


/*
    HEADER y NAVBAR
*/

.shopHeader {
    background-image: url('../img/pokemon-bg-trans.png');
    background-position-x: 42vw;
    background-position-y: -7vh;
    background-repeat: no-repeat;
    padding: 2rem !important;
    height: 242px;
}

.headerText {
    background-color: #80808070;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.headerText:nth-child(2) {
    font-weight: 600;
}

.shopHeader hr {
    max-width: 278px;
}

@media (min-width:760px) {
    .shopHeader {
        background-image: url('../img/pokemon-bg-trans.png');
        background-position-x: right;
        background-position-y: initial;
        background-size: contain;
    }
}

.navMenuContainer {
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: 0px 4px 9px #0000008c;
}

.searchBar {
    width: 100%;
}

.searchBarContainer {
    max-width: 400px;
}

#pokeSearch {
    height: 35px;
    padding-left: 1rem;
}

.nav-link {
    padding: .5rem .5rem !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

#shopCart {
    position: absolute !important;
    right: 0px;
    margin-right: 1rem;
}

.searchInput {
    max-width: 400px;
}

@media (min-width:576px) {}

.menuNav {
    display: flex;
    background-color: #fff;
}

#opcionesBarra {
    width: 100%;
}

#cartModal {
    margin-right: 1rem;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    width: 100px;
    justify-content: space-around;
    background-color: #fff;
    color: #0d6efd;
    border: none;
}

#svgCart {
    margin-left: 1rem;
}

#cartItems {
    left: 110%;
    top: 8%;
}

.separator {
    margin-top: 0;
    margin-bottom: 1rem;
}


/*
* Card Product
*
*/

.productInfo {
    display: flex;
    flex-flow: column-reverse;
    border-right: 1px solid #0006;
    border-top: 1px solid #0006;
    border-radius: var(--border-radius);
    box-shadow: -2px 2px 3px #00000082;
}

#pokeCardTarget {
    justify-self: end;
    width: 100%;
    order: initial;
    max-width: 450px;
    margin: auto;
}

.cardInfo {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border: .1rem solid black;
}

@media (min-width:760px) {
    .productInfo {
        flex-flow: row;
    }
    #pokeCardTarget {
        max-width: 350px;
    }
}


/*
* List of Pokemons
*
*/

#listOrigin {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.list-group-item-card {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    margin: .5rem;
    box-shadow: -1px 1px 3px #00000070;
    max-width: 350px;
    min-width: 300px;
    max-height: 140px;
    flex: 1 0 320px;
    padding: .25rem;
    border-radius: var(--border-radius);
}

.list-group-item-list {
    width: 100%;
    list-style: none;
}

@media (min-width: 700px) {
    .list-group-item-list {
        max-width: 40vw;
        margin: .5rem auto auto .5rem;
    }
}

.pokeDataContainerCard {
    display: flex;
    flex-flow: column;
    width: 60%;
    border: var(--main-border);
    border-right: 0;
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pokeDataContainerList {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.pokeCardInfo {
    margin-bottom: 1rem;
    height: 60px;
    display: flex;
    align-items: baseline;
    justify-content: initial;
    margin: .5rem auto;
    padding: 1rem;
}

.pokeCardInfoList {
    display: flex;
    align-items: baseline;
    min-width: 160px;
    justify-content: space-between;
}

.pokeCardInfo>* {
    display: inline;
}

.pokeCardInfo p {
    margin-left: 1rem;
    font-weight: bold;
}

.pokeCardButtons {
    display: flex;
    justify-content: center;
    height: 35px;
}

.pokeImgContainer {
    width: 40%;
    border: var(--main-border);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--pokeCard-bg-color);
}

.pokeImgContainer img {
    width: 100%;
}


/* Product View en el Modal */

.productContainer {}

.productRow {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: initial;
}

.productImg {
    max-width: 40px;
}

.productName {
    margin: 0px 0px 0px 1rem;
}

.productValue {
    width: 100%;
    text-align: end;
}


/* Product Added Alert */

#productAddedAlert {
    display: none;
    position: fixed;
    width: 500px;
    height: 50px;
    bottom: 0px;
}